<h1 class="header">Eat-Da-Burger</h1>

{{!-- Burger Contents --}}
<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-4">
            <img src="../assets/img/cartoon_burger_teeth.png" alt="burger_cheesing" class="burger-images" id="burger_cheesing">
        </div>
        <div class="col-lg-4">
            <img src="../assets/img/cartoon_burger_heart.png" alt="burger_heart" class="burger-images" id="burger_heart">
        </div>

        <div class="col-lg-4">
            <img src="../assets/img/cartoon_burger_cute.png" alt="burger_cute" class="burger-images" id="burger_cute">
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="row">

        {{!-- Whats on the menu? --}}
        <div class="menu">

            {{!-- Menu header --}}
            <div class="col-lg-12">
                <h2 class="text-center add-burger-header">Add a burger</h2>
            </div>

            {{!-- original menu items --}}

            <div class="col-lg-12">
                <form action="/" method="POST">
                    <br>
                    <input class="form-control" id="wanted-burger-input" type="text" placeholder="enter any kind of burger" name="added-menu-item">
                    <br>
                    <button type="button" id="submit-button" class="btn btn-outline-success">Add Burger</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-12 d-flex justify-content-center on-the-menu">
    <div id="my-burgers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 first-section">
                    <h4 class="text-center hunger-levels">Munchies</h4>

                    {{!-- Current menu items --}}
                    <div class="col-lg-12">
                        <div class="my-menu">
                            <ul>
                                {{#each burgers}}
                                <li class="current-menu-items">
                                    {{#if this.devoured}} {{else}}
                                    <p>{{this.id}}. {{this.name}}</p>
                                    <button type="button" class="btn btn-outline-danger delete-burger" data-id="{{this.id}}">Delete</button>
                                    <button type="button" class="btn btn-outline-info eat-burger" data-id="{{this.id}}">Eat</button>
                                    {{/if}}
                                </li>
                                {{/each}}

                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 second-section">
                    <h4 class="text-center hunger-levels">Eaten</h4>

                    {{!-- Current menu items --}}
                    <div class="col-lg-12">
                        <div class="my-menu">
                            <ul>
                                {{#each burgers}}
                                <li class="current-menu-items">


                                    {{#if this.devoured}}
                                    <p>{{this.id}}. {{this.name}}</p>
                                    <button type="button" class="btn btn-outline-danger delete-burger" data-id="{{this.id}}">Delete</button>
                                    {{/if}}
                                </li>
                                {{/each}}

                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>





{{!-- On the Menu --}}